      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #2990F0;
      }

      li {
          float: left;
      }

      li a {
          font-family: "Helvetica";
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      li a:hover:not(.active) {
          background-color: #22CCD8;
      }

      .active {
          background-color: #EBBE0D;
      }